@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ECF0F1;
  color: #2C3E50;
}

header h1 {
  font-family: 'Noto Serif KR', serif;
  color: #3498DB;
}

a, .btn {
  background: #16A085;
  color: #fff;
}

footer {
  background: #2C3E50;
  color: #fff;
}
